<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
    <h6><%= @project.title %></h6>
    <hr>
  </header>

  <div id="content">
   <%= @project.content %>
  </div>

  <%= link_to "Edit", edit_project_path(@project) %>
  <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this blog post?!"} %>

  <hr>
</div>